<!--app-headeretique></app-headeretique-->
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Información General del Vehículo
    {{data.dataVehiculo.placa}}</h1>
{{mensajeDeError}}
<mat-card>

    <div class="example-container">

        <!--
            <mat-label>Tipologia Vehicular</mat-label>
            <input matInput placeholder="" [(ngModel)]="informacionvehiculo.tipologiaVehicular">

            (ngModelChange)="onChangeClaseVehiculo(selectedClaseVehiculo)"
-->

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label for="claseVehiculo" class="form-label">Tipología Vehicular</mat-label>
            <mat-select [(ngModel)]="selectedTipologiaVehicular.nombre" id="tipologiaVehicular">
                <mat-option *ngFor="let lTipolVeh of listTipologiaVehicular" [value]="lTipolVeh.nombre">
                    {{lTipolVeh.nombre}}
                </mat-option>

            </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label for="claseVehiculo" class="form-label">Clase de Vehículo</mat-label>
            <mat-select [(ngModel)]="selectedClaseVehiculo.nombre" id="claseVehiculo" (clic)="calculoFactorVehiAmbiental($event)">
                <mat-option *ngFor="let lClVeh of listClaVehi" [value]="lClVeh.nombre">
                    {{lClVeh.nombre}}
                </mat-option>

            </mat-select>
        </mat-form-field>
        &nbsp;
        <!-- mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Tipo de Servicio</mat-label>
            <input matInput placeholder="" [(ngModel)]="informacionvehiculo.tipoServicio">
        </mat-form-field -->
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label for="tipoServicio" class="form-label">Tipo de Servicio</mat-label>
            <mat-select [(ngModel)]="selectedTipoServicio.nombre" id="tipoServicio"
                (change)="onChangeTipoServicio(selectedTipoServicio)"  (clic)="calculoFactorVehiAmbiental($event)">
                <mat-option *ngFor="let lClVeh of listTipoServicio" [value]="lClVeh.nombre">
                    {{lClVeh.nombre}}
                </mat-option>

            </mat-select>
        </mat-form-field>
        &nbsp;

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label for="tipoCombustible" class="form-label">Tipo de Combustible</mat-label>

            <mat-select [(ngModel)]="selectedTipoCombustible.nombre" id="tipoServicio"
                (ngModelChange)="onChangeTipoServicio(selectedTipoServicio)" (blur)="calculoFactorVehiAmbiental($event)" (clic)="calculoFactorVehiAmbiental($event)">
                <mat-option *ngFor="let lClVeh of listTipoCom" [value]="lClVeh.nombre">
                    {{lClVeh.nombre}}
                </mat-option>

            </mat-select>

        </mat-form-field>
        &nbsp;


        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label for="cilindraje" class="form-label">Cilindraje</mat-label>
            <!--mat-select [(ngModel)]="selectedCilindrada.nombre" id="cilindraje"
                (ngModelChange)="onChangeCilindrada(selectedCilindrada)">
                <mat-option *ngFor="let lClVeh of listCilindrada" [value]="lClVeh.nombre">
                    {{lClVeh.nombre}}
                </mat-option>
            </mat-select -->
            <input matInput placeholder="" [(ngModel)]="selectedCilindrada.nombre" (blur)="calculoFactorVehiAmbiental($event)">

        </mat-form-field>
        &nbsp;

        <!-- mat-form-field appearance="outline" class="example-full-width">
            <mat-label for="marca" class="form-label">Marca</mat-label>
            <mat-select [(ngModel)]="selectedMarca.nombre" id="marca" (ngModelChange)="onChangeMarca(selectedMarca)">
                <mat-option *ngFor="let lClVeh of listMarca" [value]="lClVeh.nombre">
                    {{lClVeh.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field -->
        &nbsp;



        <!-- mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Marca</mat-label>
            <input matInput placeholder="" [(ngModel)]="informacionvehiculo.marca">
        </mat-form-field -->




        &nbsp;
        <!-- mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Linea</mat-label>
            <input matInput placeholder="" [(ngModel)]="informacionvehiculo.linea">
        </mat-form-field -->
        &nbsp;


        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Año / Modelo</mat-label>
            <input matInput placeholder="" [(ngModel)]="informacionvehiculo.modelo"
                (blur)="calculoFactorVehiAmbiental($event)">
        </mat-form-field>
        &nbsp;

        <mat-form-field appearance="outline">
            <mat-label>Fecha Importación</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Fecha Importación"
                (dateChange)="setDate($event.value)" [(ngModel)]="informacionvehiculo.fechaImportacion">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        &nbsp;

        <mat-form-field appearance="outline" class="example-full-width"
            *ngIf="selectedTipologiaVehicular.nombre  === vehiculoPesadoCarga">
            <mat-label>Capacidad Carga</mat-label>
            <input matInput placeholder="" [(ngModel)]="informacionvehiculo.capacidadCarga">
        </mat-form-field>

        &nbsp;
        <mat-form-field appearance="outline" class="example-full-width"
            *ngIf="selectedTipologiaVehicular.nombre  === vehiculoTrPubPasaUr">
            <mat-label>Capacidad De Pasajeros</mat-label>
            <input matInput placeholder="" [(ngModel)]="informacionvehiculo.capacidadPasajeros">
        </mat-form-field>

        &nbsp;
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Número de Motor</mat-label>
            <input matInput placeholder="" [(ngModel)]="informacionvehiculo.numeroMotor">
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>VIN Vehicle Identification Number</mat-label>
            <input matInput placeholder="" [(ngModel)]="informacionvehiculo.vin">
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Ciudad Matrícula</mat-label>
            <input matInput placeholder="" [(ngModel)]="informacionvehiculo.ciudadMatricula">

        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Vigencia RTM</mat-label>
            <input matInput placeholder="" [(ngModel)]="informacionvehiculo.vigenciaRTM">
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Tecnología Reducción Emisiones</mat-label>
            <input matInput placeholder="" [(ngModel)]="informacionvehiculo.tecnRedEmision">
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Estándar Emisión Vehículo</mat-label>
            <input matInput placeholder="" [(ngModel)]="informacionvehiculo.estEmisiVehic">
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Subsistema Control de Emisiones</mat-label>
            <input matInput placeholder="" [(ngModel)]="informacionvehiculo.subContEmision">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <textarea matInput placeholder="Tecnología de reducción de emisiones"></textarea>
        </mat-form-field>
        &nbsp;
        <button class="btn btn-success" (click)="guardaInfoVehiculo()" cdkFocusInitial>Guardar Información
            Vehículo</button>
        &nbsp;
        <!-- button class="btn btn-success" (click)="generarEtiquetaEVA()" cdkFocusInitial>Generar Etiqueta
            EVA</button -->

        <!-- div>
            <mat-label>
                Adjunte en PDF el certificado de aprobación vigente de la Revisión Técnico Mecánica y
                de Emisiones Contaminantes - RTM - EC*
            </mat-label>
            <button mat-icon-button matPrefix (click)="f_input.click()">
                <mat-icon>attach_file</mat-icon>
            </button>

            <input type="file" hidden #f_input />
        </div>

        <div>
            <mat-label>
                Adjunte en PDF el certificado de Emisiones por Prueba Dinámica (CEPD) Y visto bueno por
                Protocolo de Montreal
            </mat-label>
            <button mat-icon-button matPrefix (click)="pdfCEPD.click()">
                <mat-icon>attach_file</mat-icon>
            </button>

            <input type="file" hidden #pdfCEPD />
        </div>

        <div>
            <mat-label>
                Resultados de las pruebas estáticas de emisiones realizadas por parte de un laboratorio ambiental
                autorizado por el IDEAM
            </mat-label>
            <button mat-icon-button matPrefix (click)="pdfTecMecan.click()">
                <mat-icon>attach_file</mat-icon>
            </button>

            <input type="file" hidden #pdfTecMecan />
        </div>

        <div>
            <mat-label>
                PDF Registro fotográfico de la Tarjeta de Propiedad (ambas caras)
            </mat-label>
            <button mat-icon-button matPrefix (click)="pdfTecMecan.click()">
                <mat-icon>attach_file</mat-icon>
            </button>

            <input type="file" hidden #pdfTecMecan />
        </div>

        <div>
            <mat-label>
                En el caso de contar con alguna modificación o tecnología para la reducción de emisiones en
                su vehículo por favor describalas a continuación
            </mat-label>
            <button mat-icon-button matPrefix (click)="pdfTecMecan.click()">
                <mat-icon>attach_file</mat-icon>
            </button>

            <input type="file" hidden #pdfTecMecan />
        </div>

        <div class="example-container">
            <mat-label>

            </mat-label>
        </div>
        <div>&nbsp;</div -->




        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <table *ngIf="evaEtiquetado != null">
            <tr>
               
                <th>Clase </th>
                <th>Combustible </th>
                <th>Modelo </th>
                <th>Estandar Emisión </th>
                <th>Cilindrada </th>
                <th>Indice Etiquetado </th>
                <th>fe co </th>
                <th>fe thc </th>
                <th>fe NOx </th>
                <th>fe PM </th>
                <th>fe CO2 </th>
                <th>fe CO2eq </th>
                <th>PN </th>
                <th>PM llsp </th>
                <th>OPA </th>
                <th>FAV </th>
                <th>Etiquetado </th>
            </tr>
            <tr [ngClass]="{'make-gold': evaEtiquetado.etiquetado == 'NARANJA', 'make-verde': evaEtiquetado.etiquetado == 'VERDE',  'make-amarillo': evaEtiquetado.etiquetado == 'AMARILLO', 'make-azul': evaEtiquetado.etiquetado == 'AZUL', 'make-gris': evaEtiquetado.etiquetado == 'GRIS' } ">
                <!--td>{{evaEtiquetado.clasepapa }}</td -->
                <td>{{evaEtiquetado.clase }}</td>
                <td>{{evaEtiquetado.combustible }}</td>
                <td>{{evaEtiquetado.modelo }}</td>
                <td>{{evaEtiquetado.estandaremision }}</td>
                <td>{{evaEtiquetado.cilindrada }}</td>
                <td>{{evaEtiquetado.indiceetiquetado }}</td>
                <td>{{evaEtiquetado.fe_co }}</td>
                <td>{{evaEtiquetado.fe_thc }}</td>
                <td>{{evaEtiquetado.fe_nox }}</td>
                <td>{{evaEtiquetado.fe_pm }}</td>
                <td>{{evaEtiquetado.fe_co2 }}</td>
                <td>{{evaEtiquetado.fe_co2eq }}</td>
                <td>{{evaEtiquetado.pn }}</td>
                <td>{{evaEtiquetado.pm_llsp }}</td>
                <td>{{evaEtiquetado.opa }}</td>
                <td>{{evaEtiquetado.fav }}</td>
                <td>{{evaEtiquetado.etiquetado }}</td>
            </tr>
        </table>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" [ngClass]="{ 'is-invalid': submitted  }" />
            <label for="acceptTerms" class="form-check-label">Autorización para el tratamiento de datos personales, en
                cumplimiento de las disposiciones
                de la Ley 1581 de 2012 y del Decreto reglamentario 1377 de 2013 que desarrollan el
                derecho de habeas data.</label>
            <div *ngIf="submitted " class="invalid-feedback">

            </div>
        </div>


        <div>&nbsp;</div>



    </div>
</mat-card>