@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

[mat-dialog-title] {
  margin: -24px -24px 0px -24px !important;
  padding: 10px 24px;
  background: #369;
  color: #fff;
  cursor: move;
}

table tr td {
  width: 100%;
  font-family: Roboto, Arial, sans-serif;
  border: 1px solid #ccc;
}

.make-gold {
    background-color: orange
}

.make-amarillo  {
  background-color: yellow
}

.make-verde  {
  background-color: rgb(135, 245, 135)
}

.make-azul  {
  background-color: rgb(124, 185, 241)
}

.make-gris  {
  background-color: gray
}