table {
  width: 100%;
}



tr:hover {
  opacity: 0.5;
}

.make-gold {
  background-color: orange
}

.make-amarillo {
  background-color: yellow
}

.make-verde {
  background-color: rgb(153, 243, 153)
}

.make-azul {
  background-color: rgb(124, 185, 241)
}

.make-gris {
  background-color: gray
}