<!------ Include the above in your HEAD tag ---------->


<div class="wrapper fadeInDown">

  <div id="formContent">
    <!-- Tabs Titles -->
    <img src="assets\cabezote-verde.png" id="icon" alt="User Icon" />
    <!-- Icon -->
    <div class="fadeIn first">
      &nbsp;
    </div>

    <!-- Login Form -->
    
      <input type="button" class="fadeIn fourth" value="Ingreso Ciudadano"  (click)="ingresoCiudadano()">
      
    
    <div >
      <form novalidate [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
        <input type="text" class="fadeIn second" formControlName="username" placeholder="login">
        <input type="password" class="fadeIn third" formControlName="password" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
    </div>


    <!-- Remind Passowrd -->
    <div class="alert alert-danger" *ngIf="errorStatus">
      <p>{{errorMsj}}</p>
    </div>

  </div>
</div>