

<app-header></app-header>

<!-- div>Archivo de visitas : <input type="file" (change)="readExcel($event)">  </div -->

<!-- div>Archivo de PQRS : <input type="file" (change)="readExcelPQRS($event)"> </div -->

<div class="d-flex flex-column bd-highlight mb-6">
  <div class="p-2 bd-highlight">
    <ng-container *ngFor="let menX of varSesionI.menu; let j=index">

      <button mtype="button" class="btn btn-primary" (click)="assignComponent(menX)">
        <mat-icon aria-hidden="false" aria-label=" filter icon">filter_alt</mat-icon>
        {{menX}}
      </button>

    </ng-container>


    <mat-form-field appearance="fill">
      <mat-label></mat-label>
      <input matInput [matDatepicker]="fechaIn" [(ngModel)]="fechaInicial" />
      <mat-hint>Fecha Inicial</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="fechaIn"></mat-datepicker-toggle>
      <mat-datepicker #fechaIn></mat-datepicker>
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field appearance="fill">
      <mat-label></mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaFinal">
      <mat-hint>Fecha Final</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!--
    &nbsp;&nbsp;
    <mat-form-field appearance="fill">
      <mat-label>Radicado</mat-label>
      <input matInput placeholder="2021ER66889">
    </mat-form-field>
-->
    &nbsp;&nbsp;
    <mat-form-field appearance="fill">
      <mat-label>Módulo de Consulta</mat-label>
      <mat-select [(ngModel)]="vistaSistema">

        <mat-option value={{consDireccionLabel}}>{{consDireccionLabel}}</mat-option>
        <mat-option value={{pqrsLocalidaLabel}}>{{pqrsLocalidaLabel}}</mat-option>
        <mat-option value={{estadoTramiteLabel}}>{{estadoTramiteLabel}}</mat-option>

        <mat-option value={{tipoDePredioLabel}}>{{tipoDePredioLabel}}</mat-option>
        <mat-option value={{noEsCompetencia_et}}>{{noEsCompetencia_et}}</mat-option>
        <mat-option value={{conProvisionEsTra}}>{{conProvisionEsTra}}</mat-option>
        <mat-option value={{predio2D_normativi}}>{{predio2D_normativi}}</mat-option>
        <mat-option value={{organismo_control_}}>{{organismo_control_}}</mat-option>
        <mat-option value={{modulo_alertas_}}>{{modulo_alertas_}}</mat-option>
        <!--mat-option value="Polígono Consulta">Polígono Consulta</mat-option -->
      </mat-select>
    </mat-form-field>

    <!--
    <button mtype="button" class="btn btn-primary" mat-raised-button color="primary" (click)="consultaVariables()">
      Consulta
    </button>
    -->

    <!-- 
    <button mtype="button" class="btn btn-primary" mat-raised-button color="primary" (click)="consultaVisitas()">
      Consulta DA
    </button>
    -->
    <input type="submit" class="btn btn-default" value="Consulta !" (click)="consultaVisitas()">


    <input type="submit" class="btn btn-default" value="Descarga" (click)="descargaExcel()">

  </div>




  <div class="p-2 bd-highlight">

    <div
      *ngIf="vistaSistema === pqrsLocalidaLabel  || vistaSistema === estadoTramiteLabel || vistaSistema === noEsCompetencia_et  || vistaSistema === conProvisionEsTra">
      <button (click)="asignarTipoGraficaBar()">
        <mat-icon> bar_chart</mat-icon>
      </button>&nbsp;
      <button (click)="asignarTipoGraficaTorta()">
        <mat-icon> pie_chart</mat-icon>
      </button>
    </div>
    <app-chartlocalidad
      *ngIf=" vistaSistema === pqrsLocalidaLabel  && consultaVisitaGen.tipoChart === graficaBar "></app-chartlocalidad>
    <app-chartpie
      *ngIf=" vistaSistema === pqrsLocalidaLabel  && consultaVisitaGen.tipoChart === graficaPie "></app-chartpie>


    <app-conslocalidad *ngIf="vistaSistema === pqrsLocalidaLabel "></app-conslocalidad>
    <app-esri *ngIf="vistaSistema === modulo_alertas_ "></app-esri>


    <app-chartestadotramite
      *ngIf="vistaSistema === estadoTramiteLabel  && consultaVisitaGen.tipoChart === graficaBar "></app-chartestadotramite>
    <app-chartpie
      *ngIf="vistaSistema === estadoTramiteLabel && consultaVisitaGen.tipoChart === graficaPie "></app-chartpie>

    <app-consdirecc *ngIf="vistaSistema === consDireccionLabel"></app-consdirecc>
    <app-consestramite *ngIf="vistaSistema === estadoTramiteLabel  "></app-consestramite>
    <app-constipopredio *ngIf="vistaSistema === tipoDePredioLabel"></app-constipopredio>

    <app-chartgenerico
      *ngIf="vistaSistema === noEsCompetencia_et && consultaVisitaGen.tipoChart === graficaBar "></app-chartgenerico>
    <app-chartpie
      *ngIf="vistaSistema === noEsCompetencia_et  && consultaVisitaGen.tipoChart === graficaPie "></app-chartpie>


    <app-chartgenerico
      *ngIf="vistaSistema === conProvisionEsTra && consultaVisitaGen.tipoChart === graficaBar "></app-chartgenerico>
    <app-chartpie
      *ngIf="vistaSistema === conProvisionEsTra && consultaVisitaGen.tipoChart === graficaPie "></app-chartpie>

      <app-cumpnorma *ngIf="vistaSistema === predio2D_normativi"></app-cumpnorma>

    <!-- app-poligonruido *ngIf="vistaSistema === 'Polígono Consulta' "></app-poligonruido -->
  </div>

  <div class="p-2 bd-highlight">
    &nbsp;&nbsp;
    <div class="example-header">
      <mat-form-field>
        <input matInput placeholder="Filtro" (keyup)="applyFilter($event )" placeholder="Filter">
      </mat-form-field>
    </div>
    &nbsp;&nbsp;

    <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

        <!-- ID Column -->
        <ng-container matColumnDef="radicado">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Radicado </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button type="button" class="btn btn-default" aria-label="Left Align"
              (click)="(expandedElement = expandedElement === element ? null : element);" value={{element.radicado}}>
              {{element.radicado}}
            </button>
          </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="asunto_de_radicacion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Asunto </mat-header-cell>


          <div class="example-element-detail">
            <mat-cell *matCellDef="let row"> {{row.asunto_de_radicacion}}
            </mat-cell>

          </div>


        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">



              <!-- ID Column -->
              <ng-container>
                <div class="example-element-diagram">
                  <div class="example-element-symbol">
                    {{element.radicado}}
                  </div>
                </div>
                <div class="example-element-diagram">
                  <div class="example-element-position">
                    Profesional Asignado
                  </div>
                  <div class="example-element-name">
                    {{element.profesional_asignado_primera_as}}
                  </div>
                  <div class="example-element-position">
                    Sector :
                  </div>
                  <div class="example-element-name">
                    {{element.sector_reportado}} </div>
                </div>
                <div class="example-element-diagram">
                  <div class="example-element-position">
                    Causante del Origen Quejoso:
                  </div>
                  <div class="example-element-name">
                    {{element.causante_del_origen_quejoso}}</div>
                  <div class="example-element-position">
                    Observaciones Generales:
                  </div>
                  <div class="example-element-name">
                    {{element.observaciones_generales}}</div>
                </div>
                <div class="example-element-diagram">
                  <div class="example-element-position">

                    Profesional que diligencia:
                  </div>
                  <div class="example-element-name">
                    {{element.profesional_que_diligencia}}</div>
                  <div class="example-element-position">
                    Origen Fid:
                  </div>
                  <div class="example-element-name">
                    {{element.orig_fid}}</div>


                  <div class="example-element-position">
                    Fecha Primera Asignación:
                  </div>
                  <div class="example-element-name">
                    {{element.fecha_primera_asignacion}} </div>
                </div>
                <div class="example-element-diagram">
                  <div class="example-element-position">
                    Fecha Segunda Asignación:
                  </div>
                  <div class="example-element-name">
                    {{element.fecha_segunda_asignacion}} </div>

                  <div class="example-element-position">
                    Profesional Segunda Asignación:
                  </div>
                  <div class="example-element-name">
                    {{element.profesional_asignado_segunda_as}} </div>
                </div>
              </ng-container>

            </div>

          </mat-cell>
        </ng-container>




        <!-- Name Column -->
        <!--
        <ng-container matColumnDef="año">
          <mat-header-cell *matHeaderCellDef mat-sort-header> año </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ano}} </mat-cell>
        </ng-container>
-->
        <!-- Color Column -->
        <!--
        <ng-container matColumnDef="mes">
          <mat-header-cell *matHeaderCellDef mat-sort-header> mes </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.mes}} </mat-cell>
        </ng-container>
-->

        <ng-container matColumnDef="razon_social_del_establecimient">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Razón Social </mat-header-cell>
          <mat-cell *matCellDef="let element" [style.color]="element.razon_social_del_establecimient">
            {{element.razon_social_del_establecimient}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="localidad">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Localidad </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.localidad}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="direcciones">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Direcciones </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.direcciones}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="estadoTramite">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Estado Trámite </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.estado_del_tramite}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="visita">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Visitas </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!--
            <button mat-mini-fab aria-label="Example icon button with a home icon"
              (click)="actualizaElDetalle(element.radicado)">
              <mat-icon>center_focus_weak</mat-icon>
            </button>
            -->
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="fecha_del_radicado">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha del Radicado </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fecha_del_radicado}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>


        <mat-row *matRowDef="let element; columns: displayedColumns;"
          [ngClass]="{'make-gold': element.entidad_control == 'SI'}" class="hover"
          [class.example-expanded-row]="expandedElement === element"></mat-row>

        <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>




      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>

  <br /><br />
  <app-visita></app-visita>
</div>

<!--app-footer></app-footer -->