<app-headeretique></app-headeretique>

<h1>Placa {{placa}}</h1>


{{ objPlaca.placa }}
<div>&nbsp;</div>
{{ objPlaca.placa }}
<div>&nbsp;</div>
{{ objPlaca.informacionvehiculo.idevapropvehi }}
<div>&nbsp;</div>
{{ objPlaca.informacionvehiculo.placa }}
<div>

    <mat-form-field >
        <mat-label>Tipologia Vehicular</mat-label>
        <input matInput placeholder=""  [value]="objPlaca.informacionvehiculo.claseVehiculo">
      </mat-form-field>
    
 &nbsp;

Tipo de Servicio {{ objPlaca.informacionvehiculo.tipoServicio }}&nbsp;

Tipo de Combustible {{ objPlaca.informacionvehiculo.tipoCombustible }}&nbsp;

    Cilindraje {{ objPlaca.informacionvehiculo.cilindraje }} &nbsp;

    Marca del Vehículo {{ objPlaca.informacionvehiculo.marca }} &nbsp;
</div>
{{ objPlaca.informacionvehiculo.linea }}
<div>&nbsp;</div>
{{ objPlaca.informacionvehiculo.modelo }}
<div>&nbsp;</div>
{{ objPlaca.informacionvehiculo.fechaImportacion }}
<div>&nbsp;</div>
{{ objPlaca.informacionvehiculo.capacidadCarga }}
<div>&nbsp;</div>
{{ objPlaca.informacionvehiculo.claseVehiculo }}
<div>&nbsp;</div>
{{ objPlaca.informacionvehiculo.numeroMotor }}
<div>&nbsp;</div>
{{ objPlaca.informacionvehiculo.vin }}
<div>&nbsp;</div>
{{ objPlaca.informacionvehiculo.ciudadMatricula }}
<div>&nbsp;</div>
{{ objPlaca.informacionvehiculo.vigenciaRTM }}
<div>&nbsp;</div>
{{ objPlaca.informacionvehiculo.tecnRedEmision }}
<div>&nbsp;</div>
{{ objPlaca.informacionvehiculo.estEmisiVehic }}
<div>&nbsp;</div>
{{ objPlaca.informacionvehiculo.subContEmision }}
<div>&nbsp;</div>


{{ objPlaca.propietariovehiculo.idevapropvehi }}
<div>&nbsp;</div>
{{ objPlaca.propietariovehiculo.nombre1 }}
<div>&nbsp;</div>
{{ objPlaca.propietariovehiculo.nombre2 }}
<div>&nbsp;</div>
{{ objPlaca.propietariovehiculo.apellido1 }}
<div>&nbsp;</div>
{{ objPlaca.propietariovehiculo.apellido2 }}
<div>&nbsp;</div>
{{ objPlaca.propietariovehiculo.placa }}
<div>&nbsp;</div>
{{ objPlaca.propietariovehiculo.identificacion }}
<div>&nbsp;</div>
{{ objPlaca.propietariovehiculo.tipoidentifica }}
<div>&nbsp;</div>