<!-- app-headeretique></app-headeretique -->

<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>_ Información General del Propietario del Vehículo
    {{data.dataVehiculo.placa}}</h1>
{{mensajeDeError}}
<mat-card>
    <!-- p>Información del Propietario del Vehículo Placa : {{placa}}</p -->


    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="register-form">
            <div class="container">

                <mat-form-field appearance="outline">
                    <mat-label>Primer nombre del propietario</mat-label>
                    <input matInput placeholder="" formControlName="primerNombre" [value]="propvehiculo.nombre1">
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Segundo nombre del propietario</mat-label>
                    <input matInput placeholder="" formControlName="segundoNombre" [value]="propvehiculo.nombre2">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Primer apellido del propietario</mat-label>
                    <input matInput placeholder="" formControlName="primerApellido" [value]="propvehiculo.apellido1">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Segundo apellido del propietario</mat-label>
                    <input matInput placeholder="" formControlName="segundoApellido" [value]="propvehiculo.apellido2">
                </mat-form-field>
            </div>

            <div class="container">

                <mat-radio-group formControlName="tpIdentificacion" appearance="outline"  [value]="propvehiculo.tipoidentifica">
                    <mat-radio-button value="1">Cédula Ciudadanía&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                    <mat-radio-button value="2">Nit</mat-radio-button>
                </mat-radio-group>


                <mat-form-field appearance="outline">
                    <mat-label>Número del documento:</mat-label>
                    <input matInput placeholder="" formControlName="numeroIdentificacion" [value]="propvehiculo.identificacion">
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput placeholder="" formControlName="telefono" [value]="propvehiculo.telefono">
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput placeholder="" formControlName="correoElectronico" [value]="propvehiculo.email">
                </mat-form-field>
            </div>

            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>

            <div class="container">
                <input type="checkbox" class="form-check-input" [ngClass]="{ 'is-invalid': submitted  }" />
                <label for="acceptTerms" class="form-check-label"> Autorización para el tratamiento de datos personales,
                    en
                    cumplimiento de las disposiciones
                    de la Ley 1581 de 2012 y del Decreto reglamentario 1377 de 2013 que desarrollan el
                    derecho de habeas data.</label>
                <div *ngIf="submitted " class="invalid-feedback">

                </div>
            </div>

            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div class="container">
                <!-- button class="btn btn-success" (click)="guardarPropVehiculo()" cdkFocusInitial>Guardar Propietario
                Vehiculo</button>

            <button type="button" (click)="onReset()" class="btn btn-warning float-right">
                Reset
            </button >
        </div>
        <div class="form-group" -->
                <button type="submit" class="btn btn-primary">Registrar</button>
                <button type="button" (click)="onReset()" class="btn btn-warning float-right">
                    Limpiar
                </button>
            </div>
        </div>

    </form>
</mat-card>