table {
    width: 100%;
  }
  
  .make-gold {
      background-color: orange
  }

  .make-amarillo  {
    background-color: yellow
}

.make-verde  {
    background-color: green
}

.make-azul  {
    background-color: blue
}

.make-gris  {
    background-color: gray
}