<app-headeretique></app-headeretique>


<mat-form-field>
  <input matInput (keyup)="applyFilter($event )" placeholder="Filter">
</mat-form-field>



<table mat-table [dataSource]="dataSource" matSort>


  <ng-container matColumnDef="idevapropvehi">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
    <td mat-cell *matCellDef="let element" test data-label='idevapropvehi'>
      {{element.idevapropvehi}}
    </td>
  </ng-container>

  <ng-container matColumnDef="placa">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Placa </th>
    <td mat-cell *matCellDef="let element" data-label='placa'> {{element.placa}} </td>
  </ng-container>


  <ng-container matColumnDef="nombre1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Primer Nombre </th>
    <td mat-cell *matCellDef="let element" data-label='nombre1'> {{element.nombre1}}
    </td>
  </ng-container>


  <ng-container matColumnDef="nombre2">
    <th mat-header-cell *matHeaderCellDef> Segundo Nombre</th>
    <td mat-cell *matCellDef="let element">
      {{element.nombre2}}

    </td>
  </ng-container>

  <ng-container matColumnDef="apellido1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Primer Apellido </th>
    <td mat-cell *matCellDef="let element" data-label='apellido1'> {{element.apellido1}}
    </td>
  </ng-container>

  <ng-container matColumnDef="apellido2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Segundo Apellido </th>
    <td mat-cell *matCellDef="let element" data-label='apellido2'> {{element.apellido2}}
    </td>
  </ng-container>

  <ng-container matColumnDef="identificacion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Identificacion </th>
    <td mat-cell *matCellDef="let element" data-label='identificacion'>
      {{element.identificacion}} </td>
  </ng-container>

  <ng-container matColumnDef="tipoidentifica">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Identificación</th>
    <td mat-cell *matCellDef="let element" data-label='tipoidentifica'>
      {{element.tipoidentifica}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>